#main {
    background-color: rgb(255, 192, 204);
    padding: 30px;
}
#content {
    border: 5px solid rgb(249, 76, 104);
    background-color: rgb(251, 137, 156);
    color: white;
    margin: 20px 0px 20px 0px;
    padding: 15px;
}
#content > div {
    margin: 16px 0px;
}
#quote_content {
    margin-left: 50px;
}
#quote_citation {
    margin-left: 70px;
}
