@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body {
    margin: 0px;
}

nav {
    background-color: #55705e;
    position: sticky;
    top: 0px;
}

#home {
    position: absolute;
    left: 0px;
}

main {
    margin: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    max-width: 800px;
    margin: 0px auto;
}

ul li {
    padding: 10px 16px;
}

li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20pt;
}


h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #282527;
}

p {
    font-family: 'Montserrat';
    font-weight: 400;
    color: #282527;
}

.aboutus_dropdown_container {
    position: relative;
}

.aboutus_dropdown_menu {
    background-color: #55705e;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.aboutus_dropdown_container:hover .aboutus_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.visit_dropdown_container {
    position: relative;
}

.visit_dropdown_menu {
    background-color: #55705e;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    left: -20%;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.visit_dropdown_container:hover .visit_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.donate_dropdown_container {
    position: relative;
}

.donate_dropdown_menu {
    background-color: #55705e;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.donate_dropdown_container:hover .donate_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.adopt_dropdown_container {
    position: relative;
}

.adopt_dropdown_menu {
    background-color: #55705e;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.adopt_dropdown_container:hover .adopt_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.responsive {
    width: 100%;
    max-width: 1920;
    height: auto;
}

#logo_homebutton {
    width: 50px;
    margin-top: 8px;
    
}

.aboutus_dropdown_menu a {
    font-size: 14pt;
}

.visit_dropdown_menu a {
    font-size: 14pt;
}

.donate_dropdown_menu a {
    font-size: 14pt;
}

.adopt_dropdown_menu a {
    font-size: 14pt;
}

#slideshow {
    text-align: center;
    overflow: hidden;
    height: 510px;
    width: calc(100vw-16px);
    margin: 0 auto;
  }
  
.slide-wrapper {
    width: calc((100vw-16px)*3);
    -webkit-animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 510px;
    width: calc(100vw-16px);
}

#donate_icon {
    width: 25px;
}

.gallery img {
    width: 200px;
    box-sizing: border-box;
    margin: 24px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

#menu {

}

ol li {
    font-family: 'Montserrat';
    font-weight: 400;
    color: #282527;
}

@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: calc((100vw-16px)*-1);}
    65% {margin-left: calc((100vw-16px)*-1);}
    75% {margin-left: calc((100vw-16px)*-2);}
    90% {margin-left: calc((100vw-16px)*-2);}
}

/* @media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
        text-align: center;
    }
    #home {
        margin: 0px;
    }
} */






