@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap');

#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}

header {
    grid-area: header_area;
}

main {
    grid-area: main_area;
}

/* OVERALL STYLING */

body {
    background-color: rgb(249, 246, 255);
    font-family: 'Montserrat', sans-serif;
}

form {
    background-color: white;
    border: 1px solid lightgray;
    padding: 36px;
}

select {
    font-family: 'Montserrat', sans-serif;
    padding: 4px;
}

header {
    text-align: center;
}

input {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    margin-bottom: 12px;
}

/* SPECIFIC STYLING */

input[type=submit] {
    background: rgb(138, 99, 196);
    border: 0;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
}

input[type=submit]:hover {
    background: rgb(159, 134, 197);
    border: 0;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
}

input[type=submit]:active {
    background: rgb(117, 72, 186);
    border: 0;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
}

#submit_button {
    margin-top: 20px;
    display: flex;  
    justify-content: center;  
    align-items: center;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    width: 100%;
    padding: 10px;
}

.text_input input {
    margin-top: 5px;
    margin-bottom: 15px;
}

#personal_info input {
    width: 100%;
    padding: 4px;
}

header h4 {
    margin-bottom: 30px;
}

