@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&display=swap');

#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}

header {
    grid-area: header_area;
}

main {
    grid-area: main_area;
}

body {
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif
}

form {
    background-color: white;
    border: 1px solid lightgray;
    padding: 36px;
}

input[type=submit] {
    background: rgb(138, 99, 196);
    border: 0;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 12pt; */
}

#submit_button {
    margin-top: 20px;
    display: flex;  
    justify-content: center;  
    align-items: center;
}

input[type=date] {
    font-family: 'Montserrat', sans-serif;
}

textarea {
    font-family: 'Montserrat', sans-serif;
}

select {
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
}