/* Task 1 - Write your code solution below */

/* My solution
#task1 div {
    display: inline-block;
} */

/* Ryan Solution */
.t1_div {
    display: inline;
}

/* Task 2 - Write your code solution below */

/* My solution
.t2_span {
    display: block;
} */

/* Ryan solution */
#t2_span1,
#t2_span2,
#t2_span3 {
    display: block;
}

/* Task 3 - Write your code solution below */


/* My solution */
.t3_span_red {
    display: block;
}

.t3_span_blue {
    display: inline-block;
}

/* Ryan solution same as mine! */