.nav_text {
    color: white;
}

.responsive {
    width: 100%;
    max-width: 1920;
    height: auto;
}

body {
    margin: 0px;
}

nav {
    background-color: rgb(55, 80, 107);
    position: sticky;
    top: 0px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav ul li {
    font-size: 18px;
    display: inline-block;
    padding: 24px;
}

#paragraph {
    padding: 20px;
    font-size: 20pt;
    text-align: center;
}
#phone_number {
    background-color: rgb(55, 80, 107);
    color: white;
    padding: 20px;
    text-align: center;
}

#dinner_menu_main {
    text-align: center;
}

#togo_menu_main {
    text-align: center;
}

footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

main {
    background-color: rgb(243, 243, 243);
}
