.nav_text {
    color: white;
}

.responsive {
    width: 100%;
    max-width: 1920;
    height: auto;
}

body {
    margin: 0px;
}

nav {
    background-color: rgb(55, 80, 107);
    position: sticky;
    top: 0px;
}

a {
    text-decoration: none;
}

nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav ul li {
    font-size: 18px;
    display: inline-block;
    padding: 24px;
}

#paragraph {
    padding: 20px;
    font-size: 20pt;
    text-align: center;
}
#phone_number {
    background-color: rgb(55, 80, 107);
    color: white;
    padding: 20px;
    text-align: center;
}

#dinner_menu_main {
    text-align: center;
}

#togo_menu_main {
    text-align: center;
}

footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

#mobile_nav,
#hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    #desktop_nav a {
        display: none;
    }
    #mobile_nav {
        background-color: white;
        position: absolute;
        top: 0px;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        transition: left 0.5s;
        display: block;
    }
    #mobile_nav a {
        color: black;
    }
    #mobile_nav.active {
        left: 0px;
    }
    #hamburger {
        display: inline-block;
    }
}



