@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #0E2B59;
    position: sticky;
    white-space: nowrap;
    position: relative;
    z-index: 2;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    max-width: 800px;
    margin: 0px auto;
}

ul li {
    margin: 12px;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#carousel {
    position: relative;
    z-index: 1;
}

nav img {
    height: 30px;
    margin: 0px;
}

.customize_dropdown_container {
    position: relative;
}

.customize_dropdown_menu {
    background-color: #42998F;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 180%;
    left: -35px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.customize_dropdown_container:hover .customize_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 162%;
}

.material-symbols-outlined {
    font-size: 5vw;
    color: white;
}

.card h2 {
    color: white;
    font-size: 2vw;
}

.card {
    width: 100%;
    background-color: #42998F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    border: 0px;
    white-space: nowrap;
    aspect-ratio: 4 / 3;
}

#five_cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 20px;
}

.flex_container {
    display: flex;
}

.flex_row {
    flex-direction: row;
}

#hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.5) 100%),
        url("../images/AdobeStock_167035488.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

#footer_main {
    background-color: #f3e7f0;
}

#footer_bottom {
    background-color: #8D1A6A
}

#five_cards a {
    text-decoration: none;
}

.carousel-indicators [data-bs-target] {
    background-color: white;
    opacity: 1;
    width: 16%;
    height: 0.6vh;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-indicators .active {
    background-color: #8D1A6A;
}

#payment_methods img {
    width: 100px;
}

.payment_option {
    width: 225px;
    height: 100px;
    border-radius: 6px;
    border: solid 2px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

input {
    border-radius: 5px;
    border: solid 2px gray;
    padding: 4px;
}

.customizations input {
    visibility: hidden;
}

.customizations label {
    cursor: pointer;
}

.customizations input:checked + label {
    background-color: #0E2B59;
    color: white;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
}

.customizations input + label {
    background-color: white;
    color: #0E2B59;
    border: 2px solid #0E2B59;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
}

#engraving_text_input input {
    background-color: white;
    border: 2px solid #0E2B59;
}

.navy_button {
    background-color: #0E2B59;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    text-decoration: none;
}

.emerald_button {
    background-color: #42998F;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    text-decoration: none;
}

#cart_summary_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d1e7e4;
    width: 40vh;
    height: 20vh;
}

#test {
    display: flex;
    justify-content: space-between;
}

#cart_page_title {
    text-align: center;
}

#cart_page_title a {
    color: black;
}

#checkout_inputs input, label {
    display: block;
}

.full input {
    width: 100%
}

.half input {
    width: 100%;
}

select {
    width: 100%;
    border-radius: 5px;
    border: solid 2px gray;
    padding: 4px;
}

hr {
    border: 1px solid black;
    opacity: 1;
}

#footer_main_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

#email_input input {
    border: 2px solid #8D1A6A;
    margin-right: 5px;
}

#subscribe_button input {
    background-color: #8D1A6A;
    color: white;
    border: none;
    padding: 6px 15px 6px 15px;
}

#footer_main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#footer_main h5 {
    font-size: 10pt;
}

#left_section {
    margin-right: 40px;
}

#footer_bottom h6 {
    color: white;
}

#footer_bottom a {
    color: white;
    text-decoration: none;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color:#0E2B59;
    font-size: 25pt;
}

/* #footer_bottom {
    display: flex;
    
}

#footer_bottom .left {
    flex: 1;
}

#footer_bottom .right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
} */

footer ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    flex: 1;
    max-width: none;
}



