#grid_container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}

header {
    grid-area: header_area;
}

main {
    grid-area: main_area;
}

body {
    background-color: #f0f2f4;
}

form {
    background-color: white;
    box-shadow: 3px 3px 10px darkgray;
    padding: 36px;
    border-radius: 10px;
}

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.radio {
    display: flex;
    border: solid 1.5px gray;
    padding: 10px;
    width: 80px;
    border-radius: 6px
}

.text_input input {
    padding: 10px;
    border-radius: 6px;
    border: solid 1px gray;
    font-size: 12pt;
    margin-bottom: 10px;
}

#email_entry input,
#password_entry input {
    width: 400px
}

.radio {
    display: flex;
    justify-content: space-between;
}

.radio label {
    font-size: 12pt;
    font-family: sans-serif;
}

select {
    padding: 10px;
    border-radius: 6px;
    width: 105px;
    border: solid 1px gray;
    font-size: 12pt;
}

.flex_container {
    display: flex;
}

.flex_row {
    flex-direction: row;
}

#top_section {
    text-align: center;
}

p {
    font-size: 9pt;
    color: rgb(93, 93, 93);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #1c74f4
}

input[type=submit] {
    background: #00a500;
    border-radius: 8px;
    border: none;
    padding: 10px 60px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}

input[type=submit]:hover {
    background: linear-gradient(#79b26c, #5f8952);
}

#submit_button {
    margin-top: 20px;
    display: flex;  
    justify-content: center;  
    align-items: center;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 25px;
    margin-bottom: 0px;
    font-weight: 400;
}

h1,
h4 {
    font-family: sans-serif
}

h4 {
    color: rgb(93, 93, 93);
    font-weight: 350;
}

hr {
    margin: 30px -36px;
    border: 0;
    border-top: 1px solid gray;
}