/* OVERALL  */

#grid_container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas:
        ". header_area ."
        ". main_area .";
}

header {
    grid-area: header_area;
}

main {
    grid-area: main_area;
}

body {
    background-color: #f0f2f4;
}

form {
    background-color: white;
    box-shadow: 3px 3px 10px darkgray;
    padding: 20px 20px;
    border-radius: 10px;
}

/* TEXT */

h3 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 25px;
    margin-bottom: 0px;
    font-weight: 400;
}

h1,
h4,
h5 {
    font-family: sans-serif;
}

h1 {
    margin: 0px;
}

h4 {
    color: rgb(93, 93, 93);
    font-weight: 350;
    margin-top: 8px;
}

h5 {
    color: rgb(93, 93, 93);
    font-weight: 350;
    margin: 0px 0px 10px 0px;
}

p {
    font-size: 10pt;
    color: rgb(93, 93, 93);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #1c74f4
}

/* TOP SECTION */

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top_section {
    text-align: center;
}

hr {
    margin: -2px -20px 20px -20px;
    border: 0;
    border-top: 1px solid gray;
}

/* FLEXBOX */

.single_input,
#two_inputs,
.three_inputs {
    display: flex;
}

.single_input input,
#two_inputs input {
    flex: 1;
}

.three_inputs input {
    width: 33%;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.flex_row {
    flex-direction: row;
}

.middle_margin {
    margin: 0px 10px 10px 10px;
}

#middle_gender {
    margin: 0px 10px 0px 10px;
}

#first_name input,
#last_name input {
    width: 225px
}

/* TEXT INPUTS */

.text_input input {
    padding: 10px;
    border-radius: 6px;
    border: solid 1px gray;
    font-size: 12pt;
    margin-bottom: 10px;
}

input {
    box-sizing: border-box;
    width: 100%;
}

/* SELECT */

select {
    padding: 10px;
    border-radius: 6px;
    border: solid 1px gray;
    font-size: 12pt;
    margin-bottom: 10px;
    flex: 1;
}

/* RADIO */

.radio {
    display: flex;
    border: solid 1.5px gray;
    padding: 10px;
    width: 150px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.radio label {
    font-size: 12pt;
    font-family: sans-serif;
}

/* BUTTON */

input[type=submit] {
    background: #00a500;
    border-radius: 8px;
    border: none;
    padding: 10px 60px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}

input[type=submit]:hover {
    background: linear-gradient(#79b26c, #5f8952);
}

#submit_button {
    margin-top: 20px;
    width: 225px;
    margin: 20px auto 0 auto;
}

/* INVALID INPUT */

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgb(252, 210, 210);
}




