nav {
    background-color: white;
    position: sticky;
    top: 0px;
}

#logo_homebutton {
    width: 75px;
}

main {
    margin: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    max-width: 800px;
    margin: 0px auto;
}

ul li {
    padding: 10px 16px;
}

li a {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20pt;
}

.aboutus_dropdown_container {
    position: relative;
}

.aboutus_dropdown_menu {
    background-color: white;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.aboutus_dropdown_container:hover .aboutus_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.visit_dropdown_container {
    position: relative;
}

.visit_dropdown_menu {
    background-color: white;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    left: -20%;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.visit_dropdown_container:hover .visit_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.market_dropdown_container {
    position: relative;
}

.market_dropdown_menu {
    background-color: white;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.market_dropdown_container:hover .market_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.more_dropdown_container {
    position: relative;
}

.more_dropdown_menu {
    background-color: white;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.8s,
        top 0.5s;
}

.more_dropdown_container:hover .more_dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

/* HERO */

#hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/AdobeStock_230911654.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}