p {
    font-family: sans-serif;
    font-size: 10pt;
}

#container_header {
    background-color: #b0c1d9;
    text-align: center;
}

#container_footer {
    background-color: #b0c1d9;
    text-align: center;
}

#container {
    border: solid black 1px;
    width: 250px;
    background-color: rgb(246, 246, 246);
}

#container_chronology {
    background-color: #b0c1d9;
    text-align: center;
}

#container_alt {
    background-color: #b0c1d9;
    text-align: center;
}

#container_singles {
    background-color: #b0c1d9;
    text-align: center;
}

h3 {
    font-family: sans-serif;
}

.bold {
    font-style: bold;
}

.italic {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wiki_image {
    width: 250px;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 4px;
    margin: 12px;
}

.wiki_image img {
    width: 100%;
}

/* .right {
    float: right;
}

.left {
    float: left;
} */

.flexbox {
    display: flex;
    justify-content: center;
}

.split {
    justify-content: space-between;
}

nav a {
    padding-left: 25px;
    color: black;
}