#image_container {
    float:left;
    margin: 20px;
}

#card_image {
    width: 150px;
}

#clear {
    clear: both;
}

header {
    background-color: rgb(86, 60, 109);
    padding: 36px;
}

#big_heading {
    color: white;
    margin-bottom: 60px;
    text-align: center;
    font-size: 40pt;
}

nav {
    color: white;
}

#medium_heading {
    color: rgb(86, 60, 109);
    margin-left: 20px;
    margin-top: 40px;
}

.card {
    border: solid rgb(86, 60, 109);
    margin: 20px;
    padding: 20px;
    box-shadow: 4px 4px 5px 2px gray;
    background-color: white;
}

footer {
    background-color: rgb(86, 60, 109);
    text-align: center;
    padding: 20px;
    color: white;
}

nav a {
    color: white;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(241, 226, 255);
}